# App Environment
NODE_ENV=development

# Database
DB_TYPE=postgres
DB_HOST=HOST
DB_PORT=PORT
DB_USERNAME=USER
DB_PASSWORD=PASSWORD
DB_DATABASE=DATABASE

# Google maps API
GOOGLE_MAPS_API_KEY=your_key_here

# JWT secrets
JWT_ACCESS_SECRET=your_access_secret_here
JWT_REFRESH_SECRET=your_refresh_secret_here
JWT_ACCESS_EXPIRES_IN=900
JWT_REFRESH_EXPIRES_IN=604800


# Uploads
UPLOADS_ESTABLISHMENTS_PATH=uploads/establishments
UPLOADS_PATH=uploads

# Establishments
MINIMUM_COMMENTS=3
GLOBAL_AVERAGE_RATING=1
